  <div class="page-header">
    <%= link_to "Investors", investors_path, class:"btn btn-primary pull-right" %>
    <h1>Edit Investor</h1>
  </div>

  <%= render partial: "investorform", locals: {button_nm: 'Edit Investor'}  %>
